body {
	margin: 0 20px;
}
.date{
	float: right;
}
h1{
	text-align: center;
}
.header{
	text-align: center;
}
.content{
	margin: 35px;
	border: solid 2px black;
	padding: 40px;
	box-shadow: 10px 10px 5px #888888;
	font-family: monospace;
	font-size: 9pt;
}
hr{
	border: solid 1px black;
}
h2{
	font-size: 11pt;
}